Welcome to {{ ansible_hostname }}!
This system is managed by Ansible.

Operating System: {{ ansible_distribution }} {{ ansible_distribution_version }}
Total Memory: {{ ansible_memtotal_mb }} MB
User: {{ student_user_name }}
